body {
    background: black;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#metronome {
    position: relative;
    background: maroon;
    height: 500px;
    width: 300px;
}
#top {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    background: burlywood;
}
#pendulum {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 80%;
    width: 40px;
    transform: translateX(-50%); 
    background: gray;
    border-radius: 8px;
    transform-origin: bottom center;
    animation: oscillation infinite linear;
}
#weight {
    height: 40px;
    width: 140%;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: lightgray;
    border-radius: 5px;
}
#bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    background: burlywood;
} 
 .controller {
    width: 100%;
}
 .display {
    width: 100%;
    display: flex;
    justify-content: space-between;
}  
 #bpm {
    font-size: 40px;
    color: white;
    font-family: sans-serif;
} 
#play {
    height: 60px;
    width: 60px;
}
.slider {
    display: flex;
    justify-content: space-between;
}
#minus {
    position: relative;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
#plus {
    position: relative;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
@keyframes oscillation {
    25% {
        transform: translateX(-50%) rotate(45deg);
    }
    75% {
        transform: translateX(-50%) rotate(-45deg);
    }
}
